.flex {
    display: flex;
}





/* nav section */
.flex_nav {
    display: flex;
    /* 塞不下自動換行 */
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

nav {
    border: 5px solid brown;
}

.nav_block {
    width: 100%;
    height: 40px;
    margin: 0 auto;
}

.logo {
    width: 20%;
    border: 2px solid forestgreen;
}

.nav_items {
    width: 30%;
    border: 2px solid blueviolet;
}



/*  Header */
header {
    width: 100%;
    border: 5px solid black;
    margin: 0 auto;
    text-align: center;
}





.flex_center_block1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    /* 塞不下自動換行 */
    /* flex-wrap: wrap; */
    /* justify-content: space-between */
}

.flex_center_block2 {
    display: flex;
    flex-flow: column wrap;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    align-items: center;
    /* 塞不下自動換行 */
    /* flex-wrap: wrap; */
    /* justify-content: space-between */
}



.container_content {
    width: 100%;
    height: 480px;
    text-align: center;

}

.content-block {
    width: 100%;
    height: 100%;
    border: 2px solid darkcyan;
}

.left {
    width: 20%;
    height: 100%;
    border: 2px solid lightcoral;
}

.center_block1 {
    width: 30%;
    height: 100%;
    border: 2px solid sienna;
}

.center_block2 {
    width: 30%;
    height: 100%;
    border: 2px solid sienna;
}



.right {
    width: 20%;
    height: 100%;
    border: 2px solid mediumslateblue;
}

.center1 {
    width: 40%;
    height: 25%;
    border: 2px solid hotpink;
}

.center2 {
    width: 40%;
    height: 25%;
    border: 2px solid hotpink;
}






.flex_end {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    /* 塞不下自動換行 */
    /* flex-wrap: wrap; */
    /* justify-content: space-between */
}

.container-end {
    width: 100%;
    height: 60px;
    text-align: center;

}

.end-block {
    width: 100%;
    height: 100%;
    border: 2px solid blue;
}






.container_footer {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

/* Class 名稱是col-開頭的 */
[calss^="col-"] {
    border: 5px solid blue;
}


.flex-col-1 {
    width: calc(100% * 1 /12);
}

.flex-col-2 {
    width: calc(100% * 2 /12);
}

.flex-col-3 {
    width: calc(100% * 3 /12);
}

.flex-col-4 {
    width: calc(100% * 4 /12);
}

.flex-col-5 {
    width: calc(100% * 5 /12);
}

.flex-col-6 {
    width: calc(100% * 6 /12);
}

.flex-col-7 {
    width: calc(100% * 7 /12);
}

.flex-col-8 {
    width: calc(100% * 8 /12);
}

.flex-col-9 {
    width: calc(100% * 9 /12);
}

.flex-col-10 {
    width: calc(100% * 10 /12);
}

.flex-col-11 {
    width: calc(100% * 11 /12);
}

.flex-col-12 {
    width: calc(100% * 12 /12);
}